.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 640px) {
  .head {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
